{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": true
    }
  },
  "module": {
    "type": "commonjs",
    "strict": true
  },
  "sourceMaps": true,
  "inlineSourcesContent": false
}
